@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.clear{ clear:both;}
body{ font-family:"微软雅黑"; overflow-X:hidden;}
li{ list-style:none;}
a{ text-decoration:none;}
img{ vertical-align:middle;}

/**top**/
.top{ width:100%; height:81px;}
.top1{ width:1200px; height:81px; margin:0 auto;}
.logo img{ float:left; padding-top:20px;}
.nav{ float:left; width:635px; height:43px; margin-top:39px; margin-left:146px; border-top:solid 1px #e2ebf4; border-left:solid 1px #e2ebf4; border-right:solid 1px #e2ebf4;}
.nav ul{ width:635px; height:43px;}
.nav ul li{ float:left; font-size:14px; width:127px; height:43px; text-align:center; line-height:43px; color:#1e1e1e; background:url(../img/tiao.jpg) no-repeat;}
.nav ul li a{ color:#1e1e1e; display:block;}
.nav ul li a:hover{ color:#FFF; background-color:#f29400;}
.nav ul li:hover{}
.li1 a{ width:127px; height:43px; display:inline-block;}
.li1 a:hover{ background-color:#f29400;}
.top2{ width:189px; height:29px; background:#f39800; float:left; margin-left:45px;}
.top2 ul{ width:189px; height:29px;}
.top2 ul li{ font-size:12px; color:#FFF; float:left; line-height:29px; background:url(../img/shu.jpg) no-repeat; width:94px; height:29px; text-align:center;}
.top2 li a{ color:#FFF;}
.top2 li:hover{ background:#0093ff;}
.li2 a{ width:94px; height:29px; display:inline-block;}
.li2 a:hover{ background-color:#0093ff;}

/**shouyebanner**/
.shouyebanner{ height:534px; position:absolute; left:50%; height:634px;}
.shouyebanner img{ position:relative; left:-50%; height:534px;}
#container {width: 100%;height: 500px;overflow: hidden;position:relative; left:-50%;}
.sections,.section {height:100%;}
#container,.sections {position: relative;width:1920px;}
.section {background-color: #000;background-size: cover;background-position: 50% 50%;text-align: center;color: white;}
#section0 {background-image:url(../img/banner1.jpg);}#section1 {background-image:url(../img/banner3.jpg);}
#section2 {background-image:url(../img/banner4.jpg);}
	
.pages li{list-style-type:none;width:10px;height:10px;border-radius:10px;background-color:white}
.pages li:hover{box-shadow:0 0 5px 2px white}
.pages li.active{background-color:#f29400;box-shadow:0 0 5px 2px #f29400;}
.pages{position:absolute;z-index:999}
.pages.horizontal{left:50%;transform:translateX(-50%);bottom:5px}
.pages.horizontal li{display:inline-block;margin-right:10px}
.pages.horizontal li:last-child{margin-right:0}
.pages.vertical{right:5px;top:50%;transform:translateY(-50%)}
.pages.vertical li{margin-bottom:10px}
.pages.vertical li:last-child{margin-bottom:0}

.bd{ float:left; width:370px; height:442px; background:#FFF; z-index:9999; position:relative; left:170px; top:-490px; border-radius:12px;}
.bd p{ font-size:24px; color:#f29100; margin-top:28px; margin-left:28px;}
.p2 a{ color:#1e1e1e;}
.p2 a:hover{ color:#F00;}
.p2 span a{ color:#5c72c6;}
.p2 span a:hover{ color:#F00;}
.bb{ width:1200px; height:534px;}

/**下拉菜单**/
.xialacaidan{ width:100%; height:122px;}
.xiala{ width:1200px; height:122px; margin:0 auto;}
.xiala p{ font-size:12px; color:#1e1e1e; margin-top:18px;}
.xiala p a{ color:#1e1e1e;}
.xiala p a:hover{ color:#00F;}

/**工作岗位**/
.massages{ width:100%; height:1048px; background:#f5fbfc;}
.massage{ width:1200px; height:1048px; margin:0 auto; background:#f5fbfc;}

.aa{ width:1200px; height:49px; border-bottom:solid 1px #000; font-size:18px; color:#f39800; line-height:49px; float:left;}
.aa span{ float:right; font-size:14px; color:#5a5958;}
.aa span a{ color:#5a5958;}
.aa span a:Hover{ color:#00F;}

.news{ width:1200px; height:966px; margin-top:10px;}

.news1{ float:left; width:384px; height:468px; background:#FFF; box-shadow:3px 3px 3px #cacfcf; border:solid 1px #bec2c3;}
.news1 h2{ width:218px; height:63px; border-bottom:dashed 1px #d2d2d2; margin:0 auto; font-size:18px; color:#3b4f8c; line-height:63px; text-align:center;}
.n1{ width:358px; height:382px; background:#f3f3f3; box-shadow:3px 3px 3px #cacfcf; margin-top:9px; margin-left:12px; border-radius:4px; border:solid 1px #cacfcf;}
.a1{ width:77px; height:282px; border-right:solid 1px #000; margin-top:15px; margin-left:5px; float:left;}
.a1 li{ font-size:14px; color:#1e1e1e; height:64px;}
.a1 li a{ color:#1e1e1e;}
.a1 li a:hover{ color:#00F;}
.a2{ width:254px; height:303px; margin-top:15px; margin-left:12px; float:left;}
.a21{ width:254px; height:41px;}
.a21 p{ float:left; font-size:13px;}
.a21 span{ float:left; font-size:12px;}
.n2{ width:149px; height:29px; border:solid 1px #e0dfdf; float:left; margin-left:106px; margin-top:10px; background:#FFF; border-radius:6px; font-size:13px; text-align:center; line-height:29px; color:#61a173;}
.n2 a{ color:#61a173;}

/**首页banner2**/
.shouyebanner2{ width:100%; height:237px;}
.shouyebanner2 img{ width:100%; height:199px;}

/**人才管理**/
.lists{ width:100%; height:470px; background:#f8fcfd;}
.list{ width:1200px; height:470px; margin:0 auto;}

.list1{ float:left; width:277px; height:378px; background:#FFF; border:solid 1px #c1c3c4; box-shadow:3px 3px 3px #cdd0d1; margin-top:11px; margin-left:24px;}
.list1 h4{ font-size:16px; margin-top:16px; margin-left:18px;}
.list1 ul{ width:132px; height:101px; margin-top:26px; margin-left:18px;}
.list1 ul li{ font-size:14px; height:27px; color:#3e3e3f; font-weight:bold;}
.list1 ul li a{ color:#3e3e3f;}
.list1 ul li a:Hover{ color:#f39800;}
.list1 h5{ font-size:15px; color:#273669; margin-top:18px; margin-left:19px;}
.list1 p{ font-size:12px; color:#3e3e3f; width:238px; height:102px; margin-top:16px; margin-left:17px; text-indent:2em; font-weight:bold; line-height:26px;}

.l1{ width:50px; height:110px; float:left; margin-top:192px; margin-left:61px;}

/**bottom**/
.bottom{width:100%;height:193px; background:#dddddd; margin-top:20px;padding-top:40px;}
.bottom1{width:1200px;height:83px;margin:0 auto; }
.bottom1 img{float:left;}
.bottom2{float:left;margin-left:67px;width:620px;height:83px; border-left:solid #000 1px;border-right:solid #000 1px;}
.bottom2 p{ color:#1a1b1b; font-size:12px; text-align:center;}
.bottom2 p a{ color:#1a1b1b;}
.bottom2 p a:hover{color:#f29400;}



/**招聘--个人中心 企业中心**/

/**个人、企业 基本信息**/
.contents{ width:100%; height:1392px; background:#f5fbfc;}
.content{ width:1200px; height:1385px; margin:0 auto;}

.tpp{ width:241px; height:468px; border:solid 1px #d4d2d2; background:#ebecee; float:left; border-radius:8px; margin-top:18px;}
.tpp h2{ width:241px; height:43px; font-size:16px; color:#041153; line-height:43px; border-bottom:solid 1px #f4a026;}
.tpp>ul{ width:241px; height:140px; margin-top:10px;}
.tpp>ul>li{ width:241px; height:34px; border-bottom:dotted 1px #bfbfbf; font-size:14px; color:#343435; line-height:34px;}
.tpp>ul>li a{ color:#343435;}
.tpp>ul>li a:hover{ color:#FFF;}
.tpp>ul>li:hover{ background:#7b97dd;}
.summary{ width:220px; height:243px; margin:16px auto;}
.summary>ul{ width:220px; height:243px; border:solid 1px #dcdcdc; border-radius:8px; background:#FFF;}
.summary>ul>li{ width:204px; height:38px; border-bottom:dotted 1px #bfbfbf; font-size:14px; color:#343435; line-height:38px; margin:0 auto; }
.summary>ul>li>a>span{ float:right;}
.summary>ul>li a{ color:#343435;}
.summary>ul>li a:hover{ color:#f39800;}

.service{ width:942px; height:1360px; float:left; margin-left:8px; border:dotted 1px #e4e9ea; border-radius:8px; background:#FFF; margin-top:18px;}
.service1{ width:902px; height:314px; margin:18px auto;}
.service1 h2{ width:902px; height:26px; border-bottom:solid 1px #f4a026; font-size:16px; color:#041153;}
.service1 h2 span{ float:right; font-size:12px; color:#041153;}
.service2{ width:902px; height:187px; margin:18px auto;}
.service2 h2{ width:902px; height:26px; border-bottom:solid 1px #f4a026; font-size:16px; color:#041153;}
.service2 h2 span{ float:right; font-size:12px; color:#041153;}
.service3{ width:902px; height:182px; margin:18px auto;}
.service3 h2{ width:902px; height:28px; border-bottom:solid 1px #f4a026; font-size:16px; color:#041153;}
.service3 h2 span{ float:right; font-size:12px; color:#041153;}

/**个人中心bottom**/
.bottoms{width:100%;height:193px; background:#dddddd; padding-top:40px;}



.conts{ width:100%; height:1002px; background:#f5fbfc;}
.cont{ width:1200px; height:990px; margin:0 auto;}
.services{ width:942px; height:960px; float:left; margin-left:8px; border:dotted 1px #e4e9ea; border-radius:8px; background:#FFF; margin-top:18px;}

/*找工作1*/
.top3{width:1200px; height:60px;margin:0 auto;}
.top3 p{line-height:60px; font-size:14px; color:#7d7c7b;float:left;}
.top3 p a{color:#7d7c7b;}
.sou{width:1200px; height:95px;margin:0 auto; border:solid #dedcdc 1px;}
.ta{margin-top:10px;}
.ta img{width:100%;}
.text{width:100%;height:47px; background:#eceded;margin-top:10px;}
.texts{width:1200px; height:47px;margin:0 auto;}
.texts p{ color:#0c0c0c; font-size:24px;line-height:47px;}
.text1{width:1200px; height:817px;margin:0 auto; border:solid #e3e4e4 1px;}
.text1 h2{width:1160px; height:79px;margin:0 auto; border-bottom:solid #e3e4e4 1px; }
.text1 h2 ul li{float:left; font-size:18px; color:#3cb1da;line-height:79px;padding-right:83px;}
.text1 h2 ul li a{color:#3cb1da;}
.text1 h2 ul li a:hover{color:#f29400;}
.text1 ul{float:left;}
.text1 ul li{font-size:18px;color:#3cb1da;line-height:49px;padding-right:85px;}
.text1 ul li a{color:#3cb1da;}
.text1 ul li a:hover{color:#f29400;}
.texta{width:100%;height:428px;}
.textb{float:right;width:52px;height:105px;margin-top:-150px;}

.text2{width:1200px; height:428px; border:solid #e3e4e4 1px;margin:0 auto;}
.text2 ul{float:left;}
.text2 ul li{font-size:18px;color:#3cb1da;line-height:46px;}
.text2 ul li a{color:#3cb1da;}
.text2 ul li a:hover{color:#f29400;}
.tc{margin-top:17px;}
.tc img{width:100%;}
.link{width:1200px;height:85px;border-bottom:solid #e3e4e4 1px;margin:0 auto;}
.link p{ color:#a4a6a6; font-size:14px;line-height:85px; text-align:center;}
.link p a{color:#a4a6a6;}
.link p a:hover{color:#f29400;}




.syzw{width:1200px;height:1184px;margin:33px auto;}
.syzw1{width:250px;height:36px;}
.syzw1 p{width:123px;height:36px;border:solid #b8b7b6 1px;color:#f29400; font-size:18px;float:left; text-align:center;line-height:36px;}
.syzw1 p a{color:#f29400;display:inline-block;width:123px;}

.syzw1 p a:hover{color:#ffffff;background:#f29400;}
.syzw2{width:1200px;height:1041px;font-size:18px; color:#4c4d4d;}
.syzw2 a{color:#4c4d4d;}
.syzw2 a:hover{color:#0d99ca;}
.syzw21{width:1200px;height:40px;border:solid #b8b7b6 1px;line-height:40px; font-size:12px;}
.textbb{float:right;width:52px;height:105px;margin-top:-350px;}
.ys{width:453px;height:40px;margin:53px auto;border:solid #dcdcdc 1px;}
.ys ul li{width:42px;height:40px; font-size:14px;color:#020202;float:left;border-right:solid #dcdcdc 1px; text-align:center;line-height:40px;}
.ys ul li a{color:#020202;display:inline-block;width:42px;}
.ys ul li:hover{ background:#f29400;}
.ys ul li a:hover{color:#ffffff;background:#f29400;}






/*企业注册*/
.tab {
  width:1200px;
  height:632px;
  margin:0 auto;
  background-color: #f5f5f5;
}
.tab-title {
  height: 30px;
  font-size: 0;
  width:1000px;
  margin:0 auto;
}
.tab-title .item {
  display: inline-block;
  width: 332px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #1e1e1e;
  font-size: 18px;
}
.tab-title .item-cur {
  color: #204184;
  background-color: #fff;
  border-bottom:1px solid #f19e12;
}
.tab-cont {
  position: relative;
  background-color: #fff;
  width: 1000px;
  height: 554px;
  overflow: hidden;
  margin:0 auto;
  margin-top:26px;
}
.tab-cont__wrap {
  position: absolute;
}
.tab-cont .item {
}
.yi h2{ font-size:16px; color:#efa222; margin-top:27px; margin-left:31px;}
.mk1{ width:996px; height:211px; border-bottom:dashed 1px #b5b5b5; margin-top:14px;}
.mk2{ width:354px; height:408px; margin-left:340px; margin-top:80px;}
.mk2 img{ margin-left:134px;}
.mk2 p{ font-size:14px; color:#1e1e1e; text-align:center; margin-top:18px;}
.mk2 p a{ color:#f19e12;}


.su{ width:1200px; height:108px;margin:0 auto;}
.su1{ width:1200px; height:4px; background-color:#f29400; line-height:4px; font-size:18px; }
.su1 h2{ font-size:18px; color:#000;width:1200px;height:52px; border-top:solid #f29400 2px;line-height:52px;}



.rrrrr{ width:1000px; height:473px;  margin: 0 auto}
.rr1{ width: 1000px; height:473px; margin:0 auto; }
.rr1 li{ float:left;  border:#f5b042 solid 1px;  margin-left:15px; margin-top:15px; width:204px; height:35px; text-align:center; line-height:35px; font-size:12px;}
.rr1 ul{ text-align:center;  padding-left:}

.rr1 ul li a{ color:#000;display:inline-block;width:204px;}
.rr1 ul li a:hover{ color:#FFF;background-color:#f29400; }





.bfrcjl{width:1200px;height:1254px;margin:0 auto;}
.bfrcjl h2{ font-size:18px; color:#000;width:1200px;height:52px; border-top:solid #f29400 2px;line-height:52px;}
.bfrcjl1{width:943px;height:147px;margin-left:54px;margin-top:61px;}
.bfrcjl1 img{float:left;}
.bfrcjl2{float:right;}
.bfrcjl2 p{ color:#010101; font-size:14px;line-height:28px;}
.bfrcjl2 p a{color:#c3c3c3;}



.susu{ padding-left:50px;
	
}

.fff{
	position:absolute;
	left: 200px;
	top: 173px;
	margin:0 
	 auto;
}
.fff h2{ font-size:18px;}

.rr11{ width: 1000px; height:473px; margin:0 auto; }
.rr11 ul{ text-align:center; padding-top:15px; padding-left:}
.rr11 li{ float:left;  border:#f5b042 solid 1px;  margin-left:15px; margin-top:15px; width:204px; height:35px; text-align:center; line-height:35px; font-size:12px;}
.rr11 ul li:hover{ background-color:#f29400;  }
.rr11 ul li a{ color:#000;}
.rr11 ul li a:hover{ color:#FFF;}





.bfrcjq{width:1200px;height:600px;margin:87px auto;}
.bfrcjq h2{ font-size:18px; color:#000;width:1200px;height:52px; border-top:solid #f29400 2px;line-height:52px;}
.bfrcjq1{width:943px;height:147px;margin-left:54px;margin-top:61px;}
.bfrcjq1 img{float:left;}







